<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- define bean holaMundoBean -->
	<bean id="holaMundoBean"
		class="org.certificatic.spring.core.practica2.bean.HolaMundo">

		<property name="mensaje" value="Hola mundo spring" />
	</bean>

	<!-- define bean holaMundoBean2 -->

</beans>
